
@{
    ViewBag.Title = "Register";
}

<form class="form-group" method="post" action="/customers/login">
    <div class="form-control">
        <label for="name">Name:</label>
        <input type="text" name="Name" />
    </div>

    <button class="btn btn-primary">Log In</button>
</form>